#carousel {
    width: 80%;
    margin: 0 auto;
}

#carousel-container {
    width: 88%;
    height: 80%;
    margin: 70px auto 0 auto;
}

.carousel-item {
    width: 100%;
    display: none;
    width: inherit;
    height: inherit;
}

.visible {
    display: block;
}

.carousel-item img {
    width: 100%;
    height: 400px;
}

@media screen and (max-width: 600px) {
    img {
        height: 50%;
    }
}