#carousel {
    width: 80%;
    margin: 0 auto;
}

#carousel-container {
    width: 100%;
    height: 75%;
    margin-top: 0px;
}

.carousel-item {
    display: none;
    width: inherit;
    height: inherit;
}

.visible {
    display: block;
}

 img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 600px) {
    img {
        height: 50%;
    }
}