@import url('./fonts/Antic-Regular.ttf');
@import url('aside.css');
@import url('carousel.css');

html, body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Antic', sans-serif;
}

#container {
    display: flex;
}

#main {
    width: 100%;
}